<section data-ng-controller="functionsController">
    <ul id="functionTab" class="nav nav-tabs">
        <li ng-tw-tab data-ng-repeat="item in tabs" data-ng-class="{active: $first}">
            <a data-toggle="tab" href="javascript:void(0)">{{item.name}}</a>
        </li>
        <li data-ng-show="IsAddTabButtonVisible"> <a data-toggle="tab" href="javascript:void(0)" ng-click="addTab()">Add</a></li>
        <li data-ng-show="!IsAddTabButtonVisible"><span class="span6"><input type="text" id="newTabTxt" data-ng-model="newTabName">&nbsp;<input type="button" value="save" ng-click="saveTab()" ></span></li>
    </ul>
</section>