
<section data-ng-controller="functionsController">
    <ul id="functionTab" class="nav nav-tabs">
        <li ng-tw-tab data-ng-repeat="item in userTabs" data-ng-class="{active: $first}">
            <a data-toggle="tab" href="javascript:void(0)">{{item.name}}</a>
        </li>
        <li class="dropdown">
            <a id="drop4" data-toggle="dropdown" role="button">option</a>
                <div id="tabMenu" class="dropdown-menu" role="menu" aria-labelledby="drop4" onclick="event.stopPropagation();">
                    <div>
                        <b>Show Tabs</b>
                    </div>
                    <div data-ng-repeat="item in menuTabs">
                        <label>&nbsp;&nbsp;&nbsp;<input type="checkbox" data-ng-model="item.isSelected"/> {{item.name}}</label>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary" data-toggle="button" ng-click="dropdownOk()">Ok</button>
                        <button type="button" class="btn btn-primary" data-toggle="button" ng-click="dropdownCancel()">Cancel</button>
                    </div>
                </div>
        </li>

    </ul>
    <div>
        <input type="button"  ng-click="showInformation()" value="Information">
        <input type="button"  ng-click="showInError()" value="Error">
    </div>
    <div>
        <div ng-custom-fixed-grid-header class="gridStyle" ng-grid="gridOptions"></div>
    </div>
</section>