
<section data-ng-controller="functionsController">
    <ul id="functionTab" class="nav nav-tabs">
        <li ng-tw-tab data-ng-repeat="item in userTabs" data-ng-class="{active: $first}">
            <a data-toggle="tab" href="javascript:void(0)">{{item.name}}</a>
        </li>
        <li class="dropdown">
            <a id="drop4" data-toggle="dropdown" role="button">option</a>
                <div id="tabMenu" class="dropdown-menu" role="menu" aria-labelledby="drop4" onclick="event.stopPropagation();">
                    <div>
                        <b>Show Tabs</b>
                    </div>
                    <div data-ng-repeat="item in menuTabs">
                        <label>&nbsp;&nbsp;&nbsp;<input type="checkbox" data-ng-model="item.isSelected"/> {{item.name}}</label>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary" data-toggle="button" ng-click="dropdownOk()">Ok</button>
                        <button type="button" class="btn btn-primary" data-toggle="button" ng-click="dropdownCancel()">Cancel</button>
                    </div>
                </div>
        </li>

    </ul>
    <div>
        <input type="button"  ng-click="showInformation()" value="Information">
        <input type="button"  ng-click="showInError()" value="Error">
    </div>
    <br/>
    <br/>
    <div class="container" id="AddItemArea" style="height: 100px;">
       <label>Requirements</label><input type="text"/>
        <br/>
        <input type="button" value="Save"> <input type="button" value="Close">
    </div>
    <div class="container">
        <button type="button" class="btn btn-default">Add</button>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="sr-only">Edit</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="sr-only">More Actions</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>

    </div>
    <br/>
    <div>
        <div ng-custom-fixed-grid-header class="gridStyle" ng-grid="gridOptions"></div>
    </div>
</section>